## Modern Nano Keybindings
## For: nano 7.2
## To include most of the existing syntax definitions, you can do:
include "/usr/share/nano/*.nanorc"
# include "/usr/share/nano/html.nanorc"
# include "/usr/share/nano/python.nanorc"
# include "/usr/share/nano/sh.nanorc"


# Options
set atblanks 		# word wrap
set autoindent 		# auto indent new lines
set historylog		# remember search/replace history
set indicator		# display a "scrollbar" on the righthand side of the edit window
set linenumbers		# show line numbers
set mouse			# enables mouse support
set wordchars "_"	# recognize _ as part of a word
set tabsize 4		# tab equals 4 spaces
set smarthome		# Home jumps to line start first
set scrollercolor yellow,normal


#set nohelp 		# don't display the helpful shortcut lists at the bottom of the screen.
#set zap 			# pressing Backspace or Delete when "example" is marked will delete the entire "example" text
#set multibuffer	# also copy paste with ctrl shift 6 and alt shift 6
#set locking		# set vim like locking


## === Key bindings ===
## For all details, see 'man nanorc', section REBINDING KEYS, or ^G in the editor

bind ^Z undo main
bind ^Y redo main
bind ^X cut main
bind ^C copy main
bind ^V paste all
bind ^Q exit all
bind ^S savefile main
bind ^W writeout main
bind ^O insert main
bind ^F whereis all
bind ^N findnext all
bind ^R replace main
bind ^H chopwordleft all


## Use the end of the title bar for some state flags: I = auto-indenting,
## M = mark, L = hard-wrapping long lines, R = recording, S = soft-wrapping.
set stateflags


#set multibuffer
#bind ^H help all
#bind ^H exit help
#bind ^B wherewas all
#bind ^D findprevious all
#unbind ^U all
#unbind ^N main
#unbind ^Y all
#unbind M-J main
#unbind M-T main
#bind ^A mark main
#bind ^P location main
#bind ^T gotoline main
#bind ^T gotodir browser
#bind ^T cutrestoffile execute
#bind ^L linter execute
#bind ^E execute main
